{% extends 'header.html' %}

{% block mycontent %}


    <div class="container">
        <div class="row">
                <div class="col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
                <div class="col col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
                    <form action="http://127.0.0.1:8000/bank/updatesearch/" method="post">

                      <table class="table table-borderless" class="form-control">
                        <tr>
                            <td>Customer name</td>
                            <td><input name="name" type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><button  type="submit" class="btn btn-info">SEARCH</button></td>
                        </tr>
                       </table>
                    </form>
                         {% if data %}    
                         <form action="http://127.0.0.1:8000/bank/updateApi/" method="post">
                            <table class="table table-borderless">
                                {% for i in data %}
                                <tr>
                                    <td> </td>
                                    <td><input name="newid" value="{{i.id}}" type="hidden" class="form-control"></td>
                                </tr>
    
                                <tr>
                                    <td>Customer Name</td>
                                    <td><input name="newname" value="{{i.name}}"type="text" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td>Address</td>
                                    <td><input  name="newaddress" value="{{i.address}}"type="text" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td>Bankbalance</td>
                                    <td><input name="newbankbalance" value="{{i.bankbalance}}" type="number" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td>Mobile Number</td>
                                    <td><input name="newmobile" value="{{i.mobile}} type="mobile"  class="form-control"></td>
                                </tr>
                                <tr>
                                    <td>Username</td>
                                    <td><input name="newusername" value="{{i.username}}" type="text" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td>Password</td>
                                    <td><input name="newpassword" value="{{i.password}}" type="number" class="form-control"></td>
                                </tr>
                                    <td></td>
                                    <td><button  type="submit" class="btn btn-info">Edit</button></td>
                                </tr>
                         </form>

                            {% endfor %}
                         </table> 
                            {% endif %}
                    </div>
                    <div class="col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
            </div>
        </div>
        
    
{% endblock %}