{% extends 'header.html'  %}

{% block myContent  %}


    <form action="http://127.0.0.1:8000/Donar/adddonar/" method="post">
    <div class="container">
        <div class="row">
            <div class="col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
            <div class="col col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
                <table class="table">
                <tr>
                    <td>BloodGroup</td>
                    <td><select name='bloodgroup' class="form-control" name="" id="">
                        <option value="A+">A+</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B-</option>
                        <option value="AB+">AB+</option>
                        <option value="o+">o+</option>
                        <option value="o-">o-</option>
                        <option value="AB-">AB-</option>
                    </select></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td><input name='donarname' type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td><input name='address' type="text" class="form-control"></td>
                </tr>
                
                <tr>
                    <td>Mobilenumber</td>
                    <td><input name='mobilenumber' type="number" class="form-control"></td>
                </tr>
                <tr>
                    <td>Username</td>
                    <td><input name='username' type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input name='password' type="password" class="form-control"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button class="btn btn-info">Register</button></td>
                </tr>
            </div>
        </table>
            <div class="col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
        </div>
    </div>
    </form>
{% endblock %}